<!DOCTYPE html>
<html lang="pl-PL">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    {% block meta_tags %}
        <title>Web Constructor</title>
    {% endblock %}
  </head>


{% block content %}

{% endblock %}



{% block footer %}
      <footer class="footer text-white py-8 mt-10" style="border: none; background:#318CAFFF;">
        <div class="container">
            <div class="col-12 text-center">
              <br>
              {% now "Y" as current_year %}
              {% if current_year != "2021" %}
              <small>&copy; Super-Duper Company 2021-{{ current_year }}, All rights reserved</small>
              {% else %}
              <small>&copy; Super-Duper Company {{ current_year }}, All rights reserved</small>
              {% endif %}
            </div>

          </div>
        </div>
      </footer>
  {% endblock %}