{% extends "pages/base_index.html" %}

{% block content %}



<div class="container-flex text-center">
    {% include "modules/black_jquery_counter.html" %}

    {% include "modules/analog_clock_red_arrow.html" %}

    {% include "modules/tinted_background_header.html" %}

    {% include "modules/contact_form_purple_gradient.html" %}

    {% include "modules/4_col_gallery.html" %}

    {% include "modules/3_col_gallery.html" %}

    {% include "modules/carousel_vertical_desc_photo.html" %}

    {% include "modules/horizontal_bootstrap_carousel.html" %}

    {% include "modules/card_reveal.html" %}

    {% include "modules/slider_auto_gallery.html" %}

    {% include "modules/slider_auto_gallery_large.html" %}
</div>


{% endblock %}