header {
   max-width: 1024px;
   width: 100%;
   margin-left: auto;
   margin-right: auto;
   overflow: hidden;
  }

.row {
   display: flex;
   overflow: hidden;
  }

.imagegroup {
   display: flex;
   width: 100%;
  }

.imagegroup img{
  flex-shrink: 0;
  object-fit: cover;
  border: 3px solid white;
}

.imagegroup {
   animation: travel 20s ease-in-out infinite;
  }

@keyframes travel {
   0%, 100% {
      transform: translate3d(0,0,0);
    }
   50% {
      transform: translate3d(-100%,0,0);
    }
 }