.counter{
    text-align: center;
}
.counter-count{
    font-size: 24px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: #00b3e7;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    position: relative;
    color: white;
    text-align: center;
    line-height: 108px;
    width: 108px;
    height: 108px;
    display: inline-block;
 }
employees,.customer,.store,.order{
    margin-top: 70px;
    margin-bottom: 70px;
}
.employee-p,.customer-p,.store-p,.order-p{
    font-size: 24px;
    color: black;
    line-height: 34px;
}