<div class="row" style="margin: 0px;">
         <div class="box ">
             <div class="draggable" draggable="true">
                 <div class="analog_clock_red_arrow_body" >
                  <div id="analog_clock_red_arrow" class="clock">
                      <div class="clock_wrap">
                        <span class="hour"></span>
                        <span class="minute"></span>
                        <span class="second"></span>
                        <span class="dot"></span>
                      </div>
                    </div>
             </div>
             </div>

        </div>
    </div>