<div class="row" style="margin: 0px;">
         <div class="box ">
             <div class="draggable" draggable="true">
              <div class="container my-6" id="carousel_vertical_desc_photo">

               <div class="container my-6" style="background-image:;">
				   <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
						 <div class="carousel-inner ">
								<div class="carousel-item active">
									<div class="row align-items-center">
										<div class=" col-md-12 col-lg-6 py-2">
											<h5 class="card-title">Name 1</h5>
											<p> Desc 1</p>
											<button class="btn btn-primary">More here</button>
										</div>
										<div class=" col-md-12 col-lg-6 py-2">
											<img class="d-block w-100" src="https://www.gettyimages.com/gi-resources/images/500px/983794168.jpg" alt="">
										</div>
									</div>
								</div>
								 <div class="carousel-item">
										<div class="row align-items-center">
											<div class=" col-md-12 col-lg-6 py-2">
												<h5 class="card-title">Name 2</h5>
											    <p> Desc 2</p>
												<button class="btn btn-primary">More here</button>
											</div>
											<div class=" col-md-12 col-lg-6 py-2">
												<img class="d-block w-100" src="https://cdn.pixabay.com/photo/2015/04/23/22/00/tree-736885__480.jpg" alt="">
											</div>
										</div>
									</div>
						 </div>
				  </div>

              </div>
             </div>
         </div>
</div>