<div class="row" style="margin: 0px;">
         <div class="box ">
             <div class="draggable" draggable="true">
                 <div class="contact_form_purple_gradient" id="contact_form_purple_gradient">
                    <div class="purple_contact_form col-xs-10 col-sm-10 col-md-10 col-lg-6">
                        <div class="">
                            <h1 class="purple_contact_form_header">Contact Us</h1>
                        </div>
                        <div class="">
                            <input type="name" class="purple_gradient_input_name" placeholder="Name">
                        </div>
                        <div class="">
                            <input type="email" class="purple_gradient_input_email" placeholder="Email" required>
                        </div>
                        <div class="">
                            <textarea type="text" class="purple_gradient_input_message" placeholder="Message" required></textarea>
                        </div>
                        <div class="">
                            <button type="submit" class="purple_gradient_button">Send Your Message</button>
                        </div>
                    </div>
                 </div>
             </div>
         </div>
    </div>