<div class="row" style="margin: 0px;">
         <div class="box ">
             <div class="draggable" draggable="true">
               <div class="hover_card_effect_body" id="hover_card_effect">
                   <div class="wrapper">
                        <div class="container nature">
                            <div class="card">
                                <h3>Header</h3>
                                <P>Card content</P>
                            </div>
                            <div class="card">
                                <h3>Header</h3>
                                <P>Card content</P>
                            </div>
                            <div class="card">
                                <h3>Header</h3>
                                 <P>Card content</P>
                            </div>
                            <div class="card">
                               <h3>Header</h3>
                                <P>Card content</P>
                            </div>
                        </div>
                   </div>
               </div>
             </div>
         </div>
</div>