<div class="row" style="margin: 0px;">
         <div class="box ">
             <div class="draggable" draggable="true">
                <div id="slider_auto_gallery">
                <header>
                  <div class="row small">
                    <div class="imagegroup" style="animation-delay: 1s;">
                       <img src="https://picsum.photos/seed/3/342/180" alt="">
                       <img src="https://picsum.photos/seed/4/342/180" alt="">
                       <img src="https://picsum.photos/seed/5/342/180" alt="">
                       <img src="https://picsum.photos/seed/6/342/180" alt="">
                       <img src="https://picsum.photos/seed/7/342/180" alt="">
                       <img src="https://picsum.photos/seed/8/342/180" alt="">
                    </div>
                  </div>
                </header>
                </div>
             </div>
         </div>
</div>