<div class="row" style="margin: 0px;">
         <div class="box ">
             <div class="draggable" draggable="true">
                <div id="slider_auto_gallery_large">

                    <header>
                    <div class="row large">
                     <div class="imagegroup" style="border:2px solid white">
                       <img src="https://picsum.photos/seed/1/1024/480" alt="">
                       <img src="https://picsum.photos/seed/2/1024/480" alt="">
                     </div>
                  </div>
                </header>
                </div>
             </div>
         </div>
</div>